.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    width: 400px;
    border-right: solid 2px black;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.main {
    flex-grow: 1;
}
