:host {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.avatar-image {
    width: 8em;
    height: 8em;
    align-self: center;
}

.info-container {
    p {
        text-align: center;
    }

    .user-name {
        font-size: 1.5em;
        font-weight: 700;
    }
}
