<img src="https://leadslive.io/wp-content/uploads/2017/05/Miniclip-8-Ball-Pool-Avatar-11.png" class="avatar-image">

<div class="info-container">
    <p class="user-name">{{activeChat.name}}</p>
    <p>Last online: 17:05</p>
</div>
