:host {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1em;
    border-bottom: solid 2px lightgrey;
    height: 4.5em;
}

.dialog-name {
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.5em 0.5em 0 0;
}
