<div class="message-container">
    <ul #chatList *ngIf="activeChat">
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
        <li><app-message [senderName]="activeChat.name"></app-message></li>
    </ul>
</div>

<div class="message-input-container">
    <app-message-input></app-message-input>
</div>
