:host {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.message-container {
  flex-grow: 1;

  ul {
    padding: 1em;
    height: 650px;
    overflow-y: auto;

    li {
      padding: 0.5em 0;
    }
  }
}

.message-input-container {
  height: calc(100% - 650px);
}
