<app-header></app-header>
<div class="main-container">
    <div class="chat-container">
        <app-chat></app-chat>
    </div>

    <div class="details-container">
        <app-details></app-details>
    </div>
</div>
