:host {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.main-container {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

.chat-container {
    flex-basis: 75%;
    border-right: solid 2px black;
}

.details-container {
    flex-grow: 1;
}
