<ng-container *ngIf="availableChats && availableChats.length">
    <ul>
        <li
                *ngFor="let chat of availableChats"
                class="{{chat.active ? 'selected' : '' }}"
                (click)="selectAnotherActiveChat(chat.id)"
        >{{chat.name}}</li>
    </ul>
</ng-container>
