:host {
  display: flex;
  flex-flow: column nowrap;
}

li {
  cursor: pointer;
  padding: 0.5em 2em 0.5em 2em;
}

li:last-child {
  padding-bottom: 0.5em;
}

li.selected {
  background-color: var(--modern-pink);
}

li:hover {
  background-color: var(--pink-boot);
}
