html {
    font-size: 1em;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

:root {
    --deep-blue: #5680e9;
    --light-blue: #84ceeb;
    --blue: #5ab9ea;
    --grey: #c1c8e4;
    --purple: #1d1145;
    --green: #0db4b9;
    --pink-boot: #f2a1a1;
    --modern-pink: #e76d89;
}

::ng-deep * {
    margin: 0;
    padding: 0;
}
