:host {
  display: flex;
  padding: 0.5em 1em;
  border-bottom: solid 2px black;
  height: 4.5em;
}

img.avatar-image {
  width: 2.5em;
  height: 2.5em;
}

.avatar-image-container {
  padding: 2px;
}

.user-name {
  font-size: 1.5em;
  margin-left: 1em;
}
