<div class="avatar-image-container">
    <img src="https://leadslive.io/wp-content/uploads/2017/05/Miniclip-8-Ball-Pool-Avatar-11.png" class="avatar-image">
</div>

<p class="user-name">Тьютор Тьютор</p>
