:host {
  display: flex;
  position: relative;
}

img.avatar-image {
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}

.top-container {
  display: flex;

  .sender-name {
    font-weight: 700;
  }

  .send-time {
    font-weight: 300;
    margin-left: 1em;
  }
}

ul {
  display: block;
  position: absolute;
}
