<img src="https://leadslive.io/wp-content/uploads/2017/05/Miniclip-8-Ball-Pool-Avatar-11.png" class="avatar-image">

<div (contextmenu)="openContextMenu($event); $event.preventDefault()">
    <div class="top-container">
        <p class="sender-name">{{senderName}}</p>
        <p class="send-time">19:02</p>
    </div>

    <div class="text-container">
        <p>Curabitur vestibulum pellentesque augue at sagittis. Curabitur lectus urna, posuere ut nisl vel, vehicula interdum erat. Nullam at ante nisi. Fusce lacinia in ligula sit amet fermentum. Morbi at risus ultrices, finibus dolor sit amet, imperdiet ex. Praesent dignissim, lorem vehicula maximus efficitur, dolor eros rhoncus orci, vel mattis dui nisl eu dolor. Ut libero nisl, facilisis nec commodo vitae, viverra sit amet ante. Sed sed leo purus. Mauris eleifend lorem velit, quis hendrerit dolor viverra quis.</p>
    </div>
</div>

<ng-template #contextMenuTemplate>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</ng-template>
